body {
  background-color: azure;
}

.scuba {
  border: 2px solid cyan;
  margin: 2px;
  width: 50%;
  height: auto;
  display: block;
  float: left;
}

.format {
  background-color: antiquewhite;
  border: 2px solid cyan;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}



.column {
  width: 300px;
  float: left;
}